<h1 class="mt-4">Serviços Prestados</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-bitem active">Novo</li>
</ol>
<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="alert alert-success" role="alert" *ngIf="success">
                Serviço salvo/atualizado com sucesso!
              </div>

            <div class="alert alert-danger" role="alert" *ngFor="let erro of erros">
                {{erro}}
              </div>
        </div>
    </div>

    <br/>
    <form #form="ngForm" (submit)="onSubmit()">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Cliente: </label>
                    <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="servico.cliente">
                        <option value="">Selecione ...</option>
                        <option *ngFor="let cliente of clientes" [ngValue]="cliente">
                            {{ cliente.nome }}
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <br/>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Descrição: </label>
                    <input type="text" class="form-control" name="descricao" [(ngModel)]="servico.descricao">
                </div>
            </div>
        </div>

        <br/>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Data do Serviço: </label>
                    <input type="text" class="form-control" name="descricao" [(ngModel)]="servico.data">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>Preço: </label>
                    <input type="text" class="form-control" name="valor" [(ngModel)]="servico.valor">
                </div>
            </div>
        </div>

        <br/>

        <div class="row">
            <div class="col-md-2">
                <button type="submit" class="btn btn-success">
                    <i class="fa fa-save"></i> Salvar
                </button>
            </div> 
            <div class="col-md-2">
                <button type="button" class="btn btn-danger" routerLink="/servico-prestado">
                    <i class="fa-sharp fa-solid fa-arrow-left"></i>Voltar
                </button>

                
            </div>
        </div>

    </form>
</div>
