<h1 class="mt-4">Clientes </h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Consulta</li>
</ol>

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="alert alert-success" role="alert" *ngIf="msgSucesso">
                {{msgSucesso}}
              </div>

            <div class="alert alert-danger" role="alert" *ngIf="msgErro">
                {{msgErro}}
            </div>
            
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <button class="btn btn-warning" (click)="novoCadastro()">
                <i class="fa fa-plus"></i> Novo
            </button>

        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>CPF</th>
                        <th>Data Cadastro</th>
                        <th></th>
                    </tr>

                </thead>
                <tbody>
                    <tr *ngFor="let cliente of clientes">
                        <td>{{cliente.id}}</td>
                        <td>{{cliente.nome}}</td>
                        <td>{{cliente.cpf}}</td>
                        <td>{{cliente.dataCadastro}}</td>
                        <td>
                            <button class="btn btn-primary" routerLink="/clientes-form/{{ cliente.id }}">
                                <i class="fa fa-pen"></i>
                            </button>

                            <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalDelecao" (click)="preparaDelecao(cliente)">                                
                                <i class="fa-solid fa-circle-minus"></i>
                            </button>
                           
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div id="modalDelecao" class="modal fade" role="dialog" *ngIf="clienteSelecionado">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Confirmação</h4>
                </div>
                <div class="modal-body">
                    Confirma a exclusão de <b>{{ clienteSelecionado.nome }}</b>?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" (click)="deletarCliente()" data-bs-dismiss="modal">
                        <i class="fa-solid fa-check"></i> Confirma
                    </button>
                    <button class="btn btn-danger" data-bs-dismiss="modal">
                        <i class="fa-solid fa-ban"></i> Cancela
                    </button>
                </div>
            </div>
        </div>

    </div>

</div>
